* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

header .logo {
    color: white;
    background-color: #212121;
    text-align: center;
    margin: auto;
    padding: 1px;
}

header .logo h1 {
    font-family: "Game of Thrones", sans-serif;
    font-size: 50px;
    padding: 20px;

}

header .logo p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

main {
    padding: 10px;
}

main .post .post-date {
    color: gray;
}

main .post img {
    height: 390px;
    width: 700px;
}

main .line {
    border-left: 1px solid #1f242a;
    padding-left: 25px;
    font-size: 15pt;
    font-weight: bold;
    padding-right: 10px;

}

main .ad img {
    height: 530px;
    width: 300px;
}